<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="\css\products.css" />
    <link rel="stylesheet" href="\css\home.css" />
    
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <section>
        <h1 class="title">Stock de productos</h1>
        
        <div class="products">
          <article class="product">
            <center>
                  <a class="icon-create" href="/products/create">+</a>
                  <a class="create-product" href="/products/create">Crea un nuevo producto</a>
            <br>
            <br>
            </center>
          </article>
          <% products.forEach(products => { %>
          <article class="product">
            <img class="image" src="\images\<%=products.image%>" />
            <div class="product-info">
              <p class="product-detail-name"><%=products.name%></p>
              <p class="product-detail"><%=products.brand%></p>
              <p class="product-detail year"><%=products.year%></p>
              <p class="product-detail price">$<%=products.price%></p>
            </div>
              <center>
              <form
              action="/products/delete/<%= products.id %>?_method=DELETE"
              method="POST">
                <button type="submit" class="button">Borrar</button>
              </form>
              <form
              action="/products/edit/<%= products.id %>?_method=PUT">
              <button type="submit" class="button">Editar</button>
            </form>
            <br>
            <br>
            </center>
          </article>
          <% }) %>
        </div>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
