

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="\css\creation-edition.css" />
  </head>

  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <center>
      <form
          action="/products/edit/<%= product.id %>?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
        >
      <div class="register-container">
        <h2 class="register-title">Edición del artículo #<%=product.codigo%></h2>
        <div class="register-navbar">
          <ul class="register-nav"></ul>
        </div>
        
          <div class="data-container">
            <div class="article-data ">
              <h3>Datos del producto</h3>


              </div>
              <div class="properties-label">
                <label>Nombre del articulo</label>
                <input
                  value="<%=product.nombre%>"
                  type="text"
                  class="inputNombre"
                  
                  required
                  
                />
              </div>

              

              

              <div class="properties-label">
                <label>Descripcion</label>
                <input
                  value="<%= product.descripcion %>"
                  type="text"
                  class="inputdescripcion"
                  placeholder="Descripción"
                  required
                  id="description"
                  name="description"
                />
              </div>

              <div class="properties-label">
                <label>Año</label>
                <input
                  value="<%=product.anio%>"
                  type="text"
                  class="inputdescripcion"
                  placeholder="Descripción"
                  required
                  id="year"
                  name="year"
                />
              </div>

              <div class="properties-label" >
                <label>Categoría</label>
                <input
                value="<%= product.categoria %>"
                  type="text"
                  class="inputdescripcion"
                  placeholder="Descripción"
                  required
                  id="category"
                  name="category"
                />
              </div>
              <div class="properties-label">
                <label>Seleccionar la talla</label>
                <input name="size" 
                class="inputdescripcion" 
                id="size"
                value="<%= product.talla%>" />
              
            </div>
              <div class="properties-label">
                <label>Precio</label>
                <input
                  value="$<%= product.precio %>"
                  type="text"
                  class="inputdescripcion"
                  placeholder="Descripción"
                  required
                  id="price"
                  name="price"
                />
              </div>
              
              
              <div>
                
            </div>

                <button type="submit" class="button">
                Actualizar
                </button>
        
            
            
          </form>

          <form
            action="/products/edit/<%= product.id %> ?_method=DELETE"
            method="POST"
          
          >
            <button type="submit" class="button">Borrar</button>
        </form>

        
        
      </div>
    </main>
    </center>
    <%- include('../partials/footer.ejs') %>

   
  </body>
</html>